@import '../flip-cards.scss';
@import '../variables.scss';
@import url('https://fonts.googleapis.com/css?family=Cinzel');

.back {
	box-shadow: 0px 0px 0px 6px $theme-color, 0px 0px 0px 8px #ffffff;
	padding: 5%;
}

.my-pretty-face {
    border-radius: 50%;
	box-shadow: 0px 0px 0px 4px white;
    left: 50%;
    position: absolute;
    top: -15%;
    transform: translateX(-50%);
	width: 25%;
}

.title {
	font-family: 'Cinzel', serif;
	font-size: 1.1vw;
	margin-top: 13%;
	text-align: center;
}

.text {
	font-family: 'Cinzel', serif;
	font-size: 1vw;
	&:first-child {
		margin-top: 5%;
	}
	&:last-child {
		margin-top: 5%;
		text-align: right;
	}
}