<div class="flipcard h" [class.flip]="entered">
  <div class="back">
      <img class="my-pretty-face" [src]="img" alt="Me" />
      <h1 class="title">
        WHO AM I?
      </h1>
      <p class="text">
        I'm a 32 year old junior developper with two years of experience.
      </p>
      <p class="text">
        Currently working, since April 2017, for Abbeal, a young software and computing services company. 
      </p>
      <p class="text">
        I love to test new technologies, new tools, new libraries for develop (I hope) beautiful website with great user experience. You can check my projects, professionnals or personnals.
      </p>
      <p class="text">
        Interested in javascript, I'm skilled on AngularJS, ReactJs, VueJS, Angular 6 and NodeJs. And I'm a big fan of CSS and SASS.
      </p>
      <p class="text">
        I you want to get in contact with me, just send me a mail at <a href="mailto:gregorybizet@gmail.com">gregorybizet@gmail.com</a> and I will be happy to answer your questions.
      </p>
      <p class="text">
        Grégory
      </p>
  </div>
  <div class="front"></div>
</div>
