<div class="jobs">
  <div class="backgray"></div>
  <div id="1" class="job job-1 flipcard h" appZoom [class.flip]="entered" (click)="displayJob()">
    <div class="back">
      <img [src]="apolloLogo" alt="Apollo">
    </div>
    <div class="front"></div>
  </div>
  
  
  <div id="2" class="job job-2 flipcard h" appZoom [class.flip]="entered">
    <div class="back">
      <img [src]="apolloLogo" alt="Apollo">
    </div>
    <div class="front"></div>
  </div>
  
  
  <div id="3" class="job job-3 flipcard h" appZoom [class.flip]="entered">
    <div class="back">
      <img [src]="apolloLogo" alt="Apollo">
    </div>
    <div class="front"></div>
  </div>
  
  
  <div id="4" class="job job-4 flipcard h" appZoom [class.flip]="entered">
    <div class="back">
      <img [src]="apolloLogo" alt="Apollo">
    </div>
    <div class="front"></div>
  </div>
</div>

