@import '../flip-cards.scss';
@import '../variables.scss';
@import url('https://fonts.googleapis.com/css?family=Cinzel');


.back {
	align-items: center;
	background-color: white;
	box-shadow: 0px 0px 10px -3px black;
	cursor: pointer;
	display: flex;
	justify-content: center;
	padding: 0%;
	position: relative;
	transition: 200ms;
	will-change: opacity;
	&.goTransparent {
		background-color: transparent !important;
	}
	img {
		width: 70%;
	}
}

.front {
	background-color: #efa29a !important;
	border-radius: 4px;
}

.flipcard {
	border-radius: 4px;
	overflow: hidden;
	z-index: 10;
	transition: 200ms;
	will-change: transform, left, top, opacity;
}

.backgray {
	width: 49%;
    height: 100%;
    transform: translateY(-50%);
    top: 50%;
    background-color: #fff;
    z-index: 4;
    position: absolute;
    right: 7%;
	box-shadow: 0px 0px 5px -2px black;
	transition: 800ms cubic-bezier(.86,0,.05,1);
	will-change: transform, left, top, opacity;
	&.enlarged {
		transform: translate(70%, -50%) scale(5);
	}
	&.enlarged2 {
		transform: translate(70%, -50%) scale(5);
	}
	&.enlarged3 {
		transform: translate(-170%, -50%) scale(5);
	}
	&.enlarged4 {
		transform: translate(-170%, -50%) scale(5);
	}
}

.job {
	border-radius: 4px;
	transition: 800ms cubic-bezier(.86,0,.05,1);
	will-change: transform, left, top, opacity;
	&__name {
		align-items: center;
		border-radius: 4px;
		background-color: $theme-color;
		color: #ffffff;
		display: flex;
		font-family: 'Cinzel', serif;
		font-size: 1.3rem;
		height: 100%;
		justify-content: center;
		margin: 0;
		text-align: center;
		transition: 400ms ease-in-out 200ms;
		width: 100%;
		z-index: 11;
		&.slideDown {
			transform: translateY(100%);
		}
	}
}

/*
.job:hover .job__name {
	border-radius: 0px;
	height: 86%;
	width: 85%;
} */

.job- {
	&1 {
		width: 20%;
		height: 30%;
		top: 31%;
		right: 33%;
		&.enlarged {
			transform: translateY(14%) translateX(-35%) scale(5);
		}
		&.reduce2 {
			transform: translateY(-550%) translateX(-35%) scale(5);
		}
		&.reduce3 {
			transform: translateY(-550%) translateX(-600%) scale(5);
		}
		&.reduce4 {
			transform: translateY(20%) translateX(-600%) scale(5);
		}
	}
	&2 {
		width: 20%;
		height: 30%;
		top: 66%;
		right: 33%;
		&.enlarged {
			transform: translateY(-103%) translateX(-35%) scale(5);
		}
		&.reduce {
			transform: translateY(450%) translateX(-35%) scale(5);
		}
		&.reduce3 {
			transform: translateY(-100%) translateX(-600%) scale(5);
		}
		&.reduce4 {
			transform: translateY(450%) translateX(-600%) scale(5);
		}
	}
	&3 {
		width: 20%;
		height: 30%;
		top: 66%;
		&.enlarged {
			transform: translateY(-103%) translateX(-150%) scale(5);
		}
		&.reduce {
			transform: translateY(450%) translateX(400%) scale(5);
		}
		&.reduce2 {
			transform: translateY(-100%) translateX(400%) scale(5);
		}
		&.reduce4 {
			transform: translateY(450%) translateX(-150%) scale(5);
		}
	}
	&4 {
		width: 20%;
		height: 30%;
		top: 31%;
		&.enlarged {
			transform: translateY(14%) translateX(-150%) scale(5);
		}
		&.reduce {
			transform: translateY(20%) translateX(400%) scale(5);
		}
		&.reduce2 {
			transform: translateY(-550%) translateX(400%) scale(5);
		}
		&.reduce3 {
			transform: translateY(-550%) translateX(-150%) scale(5);
		}
	}
}

@for $i from 0 to 4 {
	.job-#{$i}.fade {
		opacity: 0;
	}
}

canvas {
	z-index: 9999;
}

.close-button {
	cursor: pointer;
	width: 6.2vw;
    height: 6.2vw;
    position: absolute;
    right: 3%;
	top: 3%;
	transform: scale(0);
	transition: 200ms;
	z-index: 9999999999999;
	&.displayed {
		transform: scale(1);
	}
	img {
		width: 100%;
	}
}
